In [1]:
import pandas as pd

In [2]:
# making list with Python list:
myList = [['Apple', 'Red'],
          ['Banana', 'Yellow'],
          ['Orange', 'Orange']]

In [3]:
# adding custom name labels for myDataFrame using optional argument called 'columns'
myDataFrame = pd.DataFrame(myList, columns = ['Fruit', 'Color'])
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [4]:
import numpy as np

In [5]:
# making list with NumPy Array:
myList = np.array([[0, 1],
                   [2, 3],
                   [4, 5]])

In [6]:
# converting NumPy Array to a DataFrame using the same method like before
myDataFrame = pd.DataFrame(myList, columns = ['even', 'odd'])
myDataFrame

   even  odd
0     0    1
1     2    3
2     4    5

In [7]:
import pandas as pd
import numpy as np

In [8]:
# making dictionary with Python dictionary:
myDictionary = {'Fruit': ['Apple', 'Banana', 'Orange'],
               'Color': ['Red', 'Yellow', 'Orange']}

In [9]:
myDataFrame = pd.DataFrame(myDictionary) # passing dictionary to myDataFrame
myDataFrame

    Fruit   Color
0   Apple     Red
1  Banana  Yellow
2  Orange  Orange

In [1]:
import pandas as pd

In [2]:
# reading existing .csv file using it's name:
df = pd.read_csv('cereals.csv')
df

                        name  calories  protein  vitamins     rating
0                  100% Bran        70        4        25  68.402973
1          100% Natural Bran       120        3         0  33.983679
2                   All-Bran        70        4        25  59.425505
3  All-Bran with Extra Fiber        50        4        25  93.704912
4             Almond Delight       110        2        25  34.384843

In [3]:
# changing index column to picked existing column, which WON'T change original DataFrame:
df.set_index('name')

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [4]:
# changing index column to picked existing column, which WILL change original DataFrame:
df.set_index('name', inplace = True)

In [5]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [7]:
df

                           calories  protein  vitamins     rating
name
100% Bran                        70        4        25  68.402973
100% Natural Bran               120        3         0  33.983679
All-Bran                         70        4        25  59.425505
All-Bran with Extra Fiber        50        4        25  93.704912
Almond Delight                  110        2        25  34.384843

In [6]:
thirdRow = [False, False, True, False, False]
df[thirdRow]

          calories  protein  vitamins     rating
name
All-Bran        70        4        25  59.425505

In [13]:
dataDict = {'Gender': ["female", "male", "female", "male"], 'Score': [85, 88, 95, 80]}

In [14]:
df1 = pd.DataFrame.from_dict(dataDict)
df1

   Gender  Score
0  female     85
1    male     88
2  female     95
3    male     80

In [16]:
df1.groupby(df1['Gender']).mean()

        Score
Gender
female   90.0
male     84.0